In [2]:
import pandas as pd

In [4]:
df_orang = pd.read_csv('./dataset/data_orang.csv')

In [7]:
df_orang.head()

,nama,provinsi,tempat_lahir,tanggal_lahir,tinggi_badan,berat_badan
0,Anwar Setiawan,Banten,Cilegon,1982-05-04,165,59
1,Fajar Wahyudi,Jawa Tengah,Tegal,1973-11-25,187,72
2,Agus Prasetya,Jawa Barat,Bekasi,1980-06-08,182,83
3,Eka Widodo,Jawa Barat,Cirebon,1988-10-26,164,73
4,Xavier Arif,DKI Jakarta,Jakarta,2004-01-15,160,89

In [11]:
df_orang.sort_values('tinggi_badan', ascending=False).head()

,nama,provinsi,tempat_lahir,tanggal_lahir,tinggi_badan,berat_badan
10,Fajar Nur,Jawa Tengah,Magelang,1990-05-04,190,98
13,Gita Hadi,Jawa Tengah,Salatiga,1982-02-09,190,89
93,Hendra Arif,Jawa Tengah,Tegal,1991-09-27,190,60
144,Niko Prasetya,Jawa Timur,Malang,1981-11-13,190,82
120,Rudi Arif,DI Yogyakarta,Yogyakarta,1995-07-25,189,87

In [15]:
df_orang.sort_values(['tinggi_badan', 'berat_badan'], ascending=False)

,nama,provinsi,tempat_lahir,tanggal_lahir,tinggi_badan,berat_badan
10,Fajar Nur,Jawa Tengah,Magelang,1990-05-04,190,98
13,Gita Hadi,Jawa Tengah,Salatiga,1982-02-09,190,89
144,Niko Prasetya,Jawa Timur,Malang,1981-11-13,190,82
93,Hendra Arif,Jawa Tengah,Tegal,1991-09-27,190,60
120,Rudi Arif,DI Yogyakarta,Yogyakarta,1995-07-25,189,87
...,...,...,...,...,...,...
61,Agus Wahyudi,Jawa Barat,Depok,1982-05-31,152,45
33,Budi Widodo,Jawa Barat,Bandung,1985-03-02,151,82
102,Indah Santoso,Jawa Tengah,Tegal,1993-12-17,151,70
107,Anwar Arif,Banten,Cilegon,1971-10-22,151,60
85,Lina Arif,Jawa Timur,Malang,1976-08-11,151,47

In [18]:
df_orang.sort_values(['tinggi_badan', 'berat_badan'], ascending=[True, False])

,nama,provinsi,tempat_lahir,tanggal_lahir,tinggi_badan,berat_badan
33,Budi Widodo,Jawa Barat,Bandung,1985-03-02,151,82
102,Indah Santoso,Jawa Tengah,Tegal,1993-12-17,151,70
107,Anwar Arif,Banten,Cilegon,1971-10-22,151,60
85,Lina Arif,Jawa Timur,Malang,1976-08-11,151,47
65,Rudi Setiawan,DI Yogyakarta,Yogyakarta,1986-05-11,152,67
...,...,...,...,...,...,...
120,Rudi Arif,DI Yogyakarta,Yogyakarta,1995-07-25,189,87
10,Fajar Nur,Jawa Tengah,Magelang,1990-05-04,190,98
13,Gita Hadi,Jawa Tengah,Salatiga,1982-02-09,190,89
144,Niko Prasetya,Jawa Timur,Malang,1981-11-13,190,82
93,Hendra Arif,Jawa Tengah,Tegal,1991-09-27,190,60